protobuf==3.20.3
huggingface_hub==0.25.2
beir==2.0.0
tensorflow_text==2.15.0
sentence-transformers==2.2.2
scispacy==0.5.2
spacy==3.4.4
spacy-transformers==1.1.9
googletrans==3.1.0a0
sentence_splitter
jupyter
